@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 600px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 32px;
}
.nav-item {
    padding: 5px 15px;
    cursor: pointer;
}
.nav-item:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
}

.logo {
    height: 24px; 
    width: 120px;
}


.support-icon {
    margin-right: 8px;
}

.language-icon {
    margin-right: 8px;
}

h1 {
    font-size: 50px;
    font-weight: 400px;
    margin-bottom: 8px;
}

.lease-link {
    color: white;
    font-size: large;
    margin-bottom: 8px;
}

.title-section{
    background-image: url(./assests/tesla-bg-image.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 98.8vw;
    height: calc(100vh - 170px);
    padding-top: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}

.btn-blue {
    border: none;
    background-color: rgb(62, 106, 225);
    color: white;
    width: 190px;
    padding: 7px 27px;
    height: 40px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-light {
    border: none;
    background-color: white;
    color: #191d21; 
    width: 190px;
    padding: 7px 27px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}

#models {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0px 20px;
    margin-top: 32px;
}

.model-3, .model-y, .model-x, .model-s {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    width: 290px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px 5px;
    color: white;
}

h5 {
    padding-bottom: 160px;
    font-size: smaller;
}

h2 {
    font-size: x-large;
}

a {
    color: white;
}

.card-btns {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    margin-top: 10px;
}

.blue-btn {
    background-color: rgb(62, 106, 225);
    border: none;
    font-size: small;
    color: white;
    width: 100px;
    padding: 5px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}

.learn-more-btn {
    background-color: white;
    border: none;
    font-size: small;
    color: rgb(57, 60, 65);
    width: 100px;
    padding: 7px 15px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}

.model-3 {
    background-image: url(./assests/model-3.avif);
}
.model-y {
    background-image: url(./assests/model-y.avif);
}
.model-x {
    background-image: url(./assests/model-x.avif);
}
.model-s {
    background-image: url(./assests/model-s.avif);
}

#carousel-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0px 20px;
    margin-top: 15px;
}

.c-2 {
    background-color: rgb(189, 189, 190);
    border: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
}

#cards-1 {
    display: flex;
    gap: 20px;
}

.left-box, .right-box {
    background-size: 35% 95%;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 10px 20px 10px 20px;
    margin: 40px 30px 40px 30px;
    border-radius: 5px;
    background-color: rgb(243, 242, 242);
    border-radius: 6px;
    width: 350px;
    height: 270px;    
}

h3 {
    font-size: 35px;
    padding: 0 20px 10px 15px;
}
.boxes {
    font-size: 19px;
    padding: 0 20px 0px 15px;
    color: rgb(89, 92, 99);
}

.left-box {
    background-image: url(./assests/current-offers.avif)

}
.right-box {
    background-image: url(./assests/american-heroes.avif);
}

.learn-more-btn-2 {
    background-color: white;
    border: none;
    font-size: medium;
    color: rgb(57, 60, 65);
    width: 300px;
    padding: 7px 15px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}

#cards-2 {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    color: white;
    margin-top: 50px;
    gap: 30px;
}

#travel-safer {
    background-image: url(./assests/travel-safer.avif);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: flex-start;
    width: 800px;
    height: 520px;
    padding: 0px 20px 0px 20px;
    border-radius: 8px; 
}

#features {
    background-image: url(./assests/features.avif);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: flex-start;
    width: 374px;
    height: 520px;
    padding: 0 20px 0px 20px;
    border-radius: 8px;
    
}

.ts-title {
    font-size: 35px;
    padding: 350px 20px 10px 20px;
}
.ts-paragraph {
    font-size: 19px;
    padding: 0 20px 0px 20px;
}
.blue-btn-2 {
    background-color: rgb(62, 106, 225);
    border: none;
    font-size: small;
    color: white;
    width: 160px;
    height: 40px;
    padding: 0 15px;
    margin: 0 5px 0px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.learn-more-btn-3 {
    background-color: white;
    border: none;
    font-size: medium;
    color: rgb(57, 60, 65);
    width: 160px;
    padding: 7px 15px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}

#cards-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px 0px 20px;
    margin-top: 50px;
    cursor: pointer;
}

.card-3-1, .card-3-2, .card-3-3, .card-3-4 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    width: 290px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px 5px;
    color: white;
}

.card-3-1 {
    background-image: url(./assests/solar-panels.avif);
}

.card-3-2 {
    background-image: url(./assests/powerwall.avif);
}

.card-3-3 {
    background-image: url(./assests/megapack.avif);
}

.card-3-4 {
    background-image: url(./assests/solar-roof.avif);
}

#bottom-banner {
    justify-content: center;
    align-items: center;
    color: rgb(89, 92, 99);
    margin-top: 50px;
}

.disclaimer {
    display: flex;
    flex-direction: row;
    padding: 0 0px 0 200px;
    font-size: smaller;
}

.footer-list {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    font-size: smaller;
    margin-top: 70px;
    margin-bottom: 30px;
    gap: 20px;
}
 
